.form-title {
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: 50px;
}

.form-desc {
    color: #ccc;
    align-self: center;
    text-align: center;

    font-size: 16px;
    line-height: 25px;
    width: 80%;
}

.back-login {
    align-self: flex-end;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.success-msg-box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 10px;
    border-radius: 5px;
    background-color: #ccc;

    .icon {
        font-size: 40px;
        color: green;
    }

    p {
        color: #000;
        font-size: 12px;
    }
}
