.jobs-bg {
    height: calc(100vh - 8vh);
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .jobs-body {
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .tabs-box {
            display: flex;
            flex-direction: column;
            border: 0.5px solid rgba(0, 0, 0, 0.2);
            border-radius: 15px;
            padding: 10px;
            gap: 20px;

            .nav-icon {
                font-size: 16px;
                cursor: pointer;
                flex-shrink: 0;
            }

            .job-tabs-box {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 5px;

                .tabs {
                    display: flex;
                    gap: 10px;
                    list-style-type: none;
                    padding: 0;
                    overflow-x: auto;
                    border-radius: 3px;
                    /* mask-image: linear-gradient(
                        to right,
                        rgba(0, 0, 0, 0),
                        rgba(0, 0, 0, 1) 5%,
                        rgba(0, 0, 0, 1) 90%,
                        rgba(0, 0, 0, 0)
                    ); */

                    &::-webkit-scrollbar {
                        display: none;
                    }
                    li {
                        padding: 2px 8px;
                        background: linear-gradient(180deg, #152d43 0%, #3572a9 100%);
                        border-radius: 6px;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 20px;
                        letter-spacing: 0.01em;
                        cursor: pointer;
                        color: #ffffff;
                        text-wrap: nowrap;
                    }

                    li.active {
                        background: linear-gradient(94.94deg, #13b0b0 0%, #0f6161 95.67%);
                    }
                }
            }

            .links-box {
                display: flex;
                align-items: center;
                justify-content: space-between;
                align-self: center;
                gap: 10px;
                width: 80%;

                .links {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    overflow-x: auto;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    li {
                        cursor: pointer;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 20px;
                        letter-spacing: 0.01em;
                        text-decoration-line: underline;
                        color: #000000;
                        text-wrap: nowrap;
                    }
                }
            }
        }

        .filters-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;

            h4 {
                font-weight: 500;
                font-size: 18px;
                line-height: 20px;
                letter-spacing: 0.01em;
                text-decoration-line: underline;
                color: #000c40;
                text-wrap: nowrap;
            }

            .mob-filters {
                display: flex;
                align-items: center;
                gap: 5px;
                padding: 5px 10px;
                background: #d9d8d8;
                border-radius: 10px;
                cursor: pointer;

                span {
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 500;
                    letter-spacing: 0.01em;
                    color: #000c40;
                }
            }

            .filters {
                display: none;
                gap: 10px;
                padding: 0;

                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 5px;
                    background: #d9d8d8;
                    border-radius: 10px;
                    cursor: pointer;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.01em;
                    color: #000c40;
                    gap: 5px;

                    .icon {
                        margin-top: 4px;
                    }
                }
            }
        }

        .jobs-list {
            display: flex;
            flex-direction: column;
            gap: 20px;
            /* padding: 20px 0; */
            list-style-type: none;
            padding: 0;

            li {
                display: flex;
                flex-direction: column;
                border: 1px solid rgba(85, 85, 85, 0.2);
                border-radius: 15px;
                padding: 15px 0;
                gap: 15px;

                .job-desc {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding-inline: 15px;
                    h5 {
                        font-size: 18px;
                        font-weight: 600;
                        letter-spacing: 0.01em;
                        text-decoration-line: underline;
                    }

                    span {
                        font-size: 14px;
                        font-weight: 500;
                        color: rgba(11, 73, 111, 1);
                    }

                    p {
                        font-size: 12px;
                        /* font-weight: 500; */
                        letter-spacing: 0.01em;
                        line-height: 18px;
                    }
                }

                .job-details {
                    padding-inline: 15px;
                    line-height: 18px;

                    p {
                        font-size: 12px;
                        font-weight: 400;

                        span {
                            font-size: 14px;
                            font-weight: 500;
                            margin-right: 10px;
                        }
                    }
                }

                .job-actions {
                    padding: 10px 10px 0 10px;
                    border-top: 1px solid rgba(85, 85, 85, 0.2);
                    /* padding: 20px; */
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    div {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        * {
                            cursor: pointer;
                        }

                        .icon {
                            font-size: 20px;
                            color: #000c40;
                        }

                        button {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            padding: 5px 10px;
                            background: #0b496f;
                            border-radius: 20px;
                            border: none;
                            outline: none;
                            font-size: 12px;
                            font-weight: 500;
                            color: rgba(255, 255, 255, 1);
                        }

                        .notif {
                            background: linear-gradient(90deg, #ec008c 0%, #fc6767 100%);
                        }
                    }
                }
            }
        }
    }
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {
    /* CSS rules for devices with a width between 576px and 767.98px */
    .jobs-bg {
        .jobs-body {
            .tabs-box {
                border-radius: 15px;
                padding: 15px;
                gap: 25px;

                .links-box {
                    width: 50%;

                    .links {
                        gap: 15px;
                    }
                }
            }
        }
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* CSS rules for devices with a width between 768px and 991.98px */
    .jobs-bg {
        height: calc(100vh - 10vh);
        .jobs-body {
            padding: 30px;
            gap: 25px;

            .tabs-box {
                padding: 20px;
                gap: 30px;

                .nav-icon {
                    font-size: 20px;
                }

                .job-tabs-box {
                    gap: 15px;

                    .tabs {
                        gap: 15px;

                        li {
                            padding: 5px 15px;
                            border-radius: 6px;
                            font-size: 12px;
                        }
                    }
                }

                .links-box {
                    gap: 10px;
                    width: 50%;

                    .links {
                        gap: 15px;

                        li {
                            font-size: 14px;
                        }
                    }
                }
            }

            .filters-box {
                padding: 15px 0;

                h4 {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 30px;
                }

                .mob-filters {
                    display: none;
                }

                .filters {
                    display: flex;
                    gap: 10px;
                    padding: 0;

                    div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 6px 10px;
                        background: #d9d8d8;
                        font-size: 12px;
                        font-weight: 500;
                        border-radius: 6px;

                        .icon {
                            margin-top: 4px;
                        }
                    }
                }
            }

            .jobs-list {
                gap: 25px;

                li {
                    border-radius: 15px;
                    padding: 15px 0;
                    gap: 20px;

                    .job-desc {
                        line-height: 25px;
                        gap: 10px;
                        padding-inline: 20px;

                        h5 {
                            font-size: 18px;
                        }

                        span {
                            font-size: 16px;
                        }

                        p {
                            font-size: 12px;
                        }
                    }

                    .job-details {
                        padding-inline: 15px;
                        line-height: 25px;

                        p {
                            font-size: 14px;

                            span {
                                font-size: 14px;
                            }
                        }
                    }

                    .job-actions {
                        padding: 15px 15px 0 15px;

                        div {
                            gap: 20px;

                            .icon {
                                font-size: 25px;
                            }

                            button {
                                padding: 8px 15px;
                                border-radius: 20px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* CSS rules for devices with a width between 992px and 1199.98px */
    .jobs-bg {
        height: calc(100vh - 12vh);
        .jobs-body {
            padding: 35px;
            gap: 30px;

            .tabs-box {
                padding: 20px;
                gap: 30px;

                .nav-icon {
                    font-size: 25px;
                }

                .job-tabs-box {
                    gap: 20px;

                    .tabs {
                        gap: 15px;

                        li {
                            padding: 8px 18px;
                            border-radius: 10px;
                            font-size: 14px;
                        }
                    }
                }

                .links-box {
                    gap: 15px;
                    width: 50%;

                    .links {
                        gap: 20px;

                        li {
                            font-size: 16px;
                        }
                    }
                }
            }

            .filters-box {
                padding: 10px 0;

                h4 {
                    font-weight: 500;
                    font-size: 23px;
                    line-height: 30px;
                }

                .mob-filters {
                    display: none;
                }

                .filters {
                    display: flex;
                    gap: 15px;
                    padding: 0;

                    div {
                        padding: 8px 10px;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }

            .jobs-list {
                gap: 30px;

                li {
                    border-radius: 20px;
                    padding: 20px 0;
                    gap: 20px;

                    .job-desc {
                        line-height: 25px;
                        gap: 15px;
                        padding-inline: 20px;

                        h5 {
                            font-size: 20px;
                        }

                        span {
                            font-size: 18px;
                        }

                        p {
                            font-size: 16px;
                        }
                    }

                    .job-details {
                        padding-inline: 15px;
                        line-height: 25px;

                        p {
                            font-size: 16px;

                            span {
                                font-size: 16px;
                            }
                        }
                    }

                    .job-actions {
                        padding: 15px 15px 0 15px;

                        div {
                            gap: 20px;

                            .icon {
                                font-size: 28px;
                            }

                            button {
                                padding: 8px 15px;
                                border-radius: 20px;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* CSS rules for devices with a width between 1200px and 1399.98px */
    .jobs-bg {
        height: calc(100vh - 12vh);
        /* padding: 40px; */
        .jobs-body {
            padding: 35px;
            gap: 30px;

            .tabs-box {
                padding: 20px;
                gap: 30px;

                .nav-icon {
                    font-size: 25px;
                }

                .job-tabs-box {
                    gap: 20px;

                    .tabs {
                        gap: 20px;

                        li {
                            padding: 10px 25px;
                            border-radius: 10px;
                        }
                    }
                }

                .links-box {
                    gap: 15px;
                    width: 45%;

                    .links {
                        gap: 20px;

                        li {
                            font-size: 16px;
                        }
                    }
                }
            }

            .filters-box {
                padding: 15px 0;

                h4 {
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 30px;
                }

                .mob-filters {
                    display: none;
                }

                .filters {
                    display: flex;
                    gap: 15px;
                    padding: 0;

                    div {
                        padding: 10px 15px;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }

            .jobs-list {
                gap: 30px;

                li {
                    border-radius: 20px;
                    padding: 20px 0;
                    gap: 20px;

                    .job-desc {
                        line-height: 25px;
                        gap: 15px;
                        padding-inline: 20px;

                        h5 {
                            font-size: 22px;
                        }

                        span {
                            font-size: 18px;
                        }

                        p {
                            font-size: 16px;
                        }
                    }

                    .job-details {
                        padding-inline: 15px;
                        line-height: 25px;

                        p {
                            font-size: 16px;

                            span {
                                font-size: 18px;
                            }
                        }
                    }

                    .job-actions {
                        padding: 15px 15px 0 15px;

                        div {
                            gap: 20px;

                            .icon {
                                font-size: 30px;
                            }

                            button {
                                padding: 8px 15px;
                                border-radius: 20px;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Extra extra large devices (very large desktops, 1400px and up) */
@media (min-width: 1400px) {
    /* CSS rules for devices with a minimum width of 1400px */
    .jobs-bg {
        .jobs-body {
            padding: 60px;
            .tabs-box {
                padding: 20px;
                gap: 30px;

                .nav-icon {
                    font-size: 25px;
                }

                .job-tabs-box {
                    gap: 20px;

                    .tabs {
                        gap: 25px;

                        li {
                            padding: 12px 25px;
                            border-radius: 12px;
                            font-size: 18px;
                        }
                    }
                }

                .links-box {
                    width: 40%;

                    .links {
                        gap: 25px;

                        li {
                            font-size: 18px;
                        }
                    }
                }
            }

            .filters-box {
                padding: 15px 0;

                h4 {
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 30px;
                }

                .mob-filters {
                    display: none;
                }

                .filters {
                    display: flex;
                    gap: 15px;
                    padding: 0;

                    div {
                        padding: 10px 15px;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
